*{
	margin: 0;
  padding: 0;
  
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
  font-family: Roboto,sans-serif;
  background-color:  #662E1C;
}

h1{
	font-family: "Roboto", sans-serif;
	color:  #C9A66B;
	margin-bottom: 10px;
}

button{
	height: 100px;
	width: 100px;
	font-size: 50px;
  font-weight: bold;
  background: #C9A66B;
  border-radius: 15px;
}

button:hover{
  background:#EBDCB2;
}

.field{
	display: grid;
  grid-template-columns: repeat(4, 100px);
  background: #AF4425;
  /* padding: 10px; */
}

a.newGame{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0,0,0);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background:#C9A66B;
  transition: all .218s ease 0s;
  margin-bottom: 10px;
}

a.newGame:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background:#EBDCB2;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

a.newGame:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: #C9A66B;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

a.record{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0,0,0);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #C9A66B;
  transition: all .218s ease 0s;
  margin-bottom: 10px;
}

a.record:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #EBDCB2;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

a.record:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background:#C9A66B;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

a.menu{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0,0,0);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #C9A66B;
  transition: all .218s ease 0s;
  margin-bottom: 10px;
  margin-top: 10px;
}

a.menu:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #EBDCB2;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

a.menu:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background:#C9A66B;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

div.centre{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #AF4425;
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #AF4425;
  transition: all .218s ease 0s;
  margin-bottom: 10px;
}

form{
  background: #AF4425;
}

input{
  font-size: 24px;
  font-weight: bold;
  align-content: center;
  background-color:#C9A66B;
  padding: .2em 1.2em;
  margin-bottom: 10px;
}

::placeholder{
  color: #000000;
}

input:hover{
  background: #EBDCB2;
}

table{
  background: #AF4425;
}

TD h1{
  color:#000000
}